:root {
  --bg-light: #ffffff;
  --bg-medium: #f3f3f3;
  --bg-dark: #dddddd;

  --bg-white-light: #ffffff;
  --bg-white-medium: #f3f3f3;
  --bg-white-dark: #dddddd;

  --bg-black-light: #353535;
  --bg-black-medium: #272727;
  --bg-black-dark: #131313;

  --text-color: #000000;
  --text-white: #ffffff;
  --text-black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}